<!doctype html>
<!--
This page is shown when the extension button is clicked, because the
"browser_action" field in manifest.json contains the "default_popup" key with
value "popup.html".
-->
<html ng-app="blockWhatsApp">
<head>
  <title>WhatsHide</title>
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/popup.js"></script>
  <link rel="stylesheet" href="css/popup.css">
  <link rel="stylesheet" href="css/flatly.min.css">
  
</head>

<body>
 			<div class="up-part">
  				<h4>WhatsHide</h4>
			</div>
	<div class="container">
 		<div class="col-md-12">

  			
  			<div ng-controller="PopupController as popupController">
    			

    			<ul class="unstyled">
      				<li ng-repeat="word in popupController.words track by $index">
        				<label class="checkbox">
          					<input type="checkbox" ng-model="word.active" ng-click="popupController.saveChanges()">
          					<span class="active-{{word.active}}">{{word.value}}</span>
        				</label>
      				</li>
    			</ul>
    		
    			<form ng-submit="popupController.addWord()">
     				<div class="input-group">
      					<input class="form-control" type="text" ng-model="popupController.wordValue"  placeholder="add new word here">
      					<label class="input-group-btn">
      						<input class="btn btn-primary" type="submit" value="add">
	  					</label>
					</div>
    			</form>
    			<div class="col-sm-6">
    				<a class="label label-warning" href="" ng-click="popupController.clearUncheckeds()">Clear</a>
    				<a class="label label-danger" href="" ng-click="popupController.clearAll()">Clear All</a>
				</div>
    		
  			</div>
		</div>
	</div>
</body>
</html>
